html,
body {
  margin: 0;
  background-image: linear-gradient(to right, #ece148, #073eb6);
}

/* Home */

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#App-logo {
  padding: 5px;
  animation: spin 12s linear infinite;
}

#App-logo:hover {
  /* animation-duration: 2s; */
  opacity: 0.9;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Game */
.background {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to right, #cec333, #124bc5);
}

.welcome-container {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}
.welcome-container-loading {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.question {
  font-size: 30px;
}

.right-answer,
.wrong-answer {
  width: 90px;

  cursor: pointer;
}

.right-answer {
}

.wrong-answer {
}

/* misc */

label {
  font-size: 35px;
  font-weight: bold;
}

.input {
  font-size: 20px;
  width: 220px;
  text-align: center;
}

input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: red;
}

.text {
  margin: 10px;
}

input {
  padding: 8px;
  margin: 5px;
}

input[type="submit"] {
  background-color: #696969;
  border: none;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  display: inline-block;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h4 {
  font-weight: lighter;
}

button {
  border-radius: 20px;
  border-style: groove;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

.wrong-answer {
  display: inline-block;
  width: 400px;
}

.right-answer {
  display: inline-block;
  width: 400px;
}

.welcome-text-loading {
  margin-top: 170px;
  top: 50%;
  align-self: center;
  padding: 10px;
}
