.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#App-logo {
  padding: 5px;
  animation: spin 14s linear infinite;
}

#App-logo:hover {
  animation-duration: 2s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  border-radius: 20px;
  border-style: groove;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}
