html,
body {
  margin: 0;
  background-color: #282c34;
}

/* Home */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#App-logo {
  padding: 5px;
  animation: spin 12s linear infinite;
}

#App-logo:hover {
  /* animation-duration: 2s; */
  opacity: 0.9;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* misc */

.error {
  color: red;
}

.text {
  margin: 10px;
}

input {
  padding: 8px;
  margin: 5px;
}

input[type="submit"] {
  background-color: #696969;
  border: none;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h4 {
  font-weight: lighter;
}

button {
  border-radius: 20px;
  border-style: groove;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}
